.AdminPanel .Title {
  margin-bottom: 2.5rem;
}

.Admin_Coins .Coin_Container {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 2.5rem;
}

.Admin_Coins .Coin_Container .Coin {
  flex: none;
}

.Admin_Coins .Coin_Container button {
  font-size: 1.4rem;
  padding: 1.6rem 4rem;
  background: #e5e5e5;
  border: none;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Admin_Coins .Coin_Container button:hover {
  filter: brightness(0.9);
}

.Add_Coin {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.Add_Coin i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 12rem;
  border: 0.1rem solid #000;
  border-radius: 50%;
  font-style: normal;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Add_Coin i:hover {
  background: #e5e5e5;
}

.Add_Coin span {
  font-size: 1.4rem;
  text-decoration: underline;
  cursor: pointer;
}

/* ******************* */
/* Add Edit Coin Page */
/* ***************** */
.AddEditCoin {
  display: flex;
  gap: 3rem;
}

.InputColumn {
  flex: 0 1 37.4rem;
}

.InputColumn:nth-child(3) {
  flex-basis: 30rem;
}

.Form_Control:not(:last-child) {
  margin-bottom: 2rem;
}

.Value_Unit_Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1.5rem;
  margin-bottom: 2rem;
  /* position: relative; */
}

.Value_Unit_Wrapper .Form_Control {
  margin-bottom: 0;
  flex: 1 1 auto;
}

.Value_Unit_Wrapper .Denomination_Unit {
  flex: 0 1 7.4rem;
}

.Value_Unit_Wrapper #denomination_UnitList {
  position: absolute;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.5);
  background: #fff;
  height: 10rem;
  overflow: hidden;
  overflow-y: scroll;
  list-style-type: none;
  font-size: 1.6rem;
  z-index: 999999;
}

#denomination_UnitList li {
  padding: 0.3rem;
  padding-left: 1.1rem;
}

#denomination_UnitList li:hover {
  background-color: #e5e5e5;
}

.Form_Textarea {
  height: 13.6rem;
  resize: none;
}

.LongDesc_LabelWrapper {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.Delete_LongDesc,
#addLongDescField {
  padding-inline: 0.6rem;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
}

#addLongDescField {
  width: 2rem;
  height: 1.7rem;
  font-size: 1.4rem;
  background-color: #63e6be;
  margin-bottom: 0.3rem;
}

.Delete_LongDesc:hover,
#addLongDescField:hover {
  filter: brightness(0.9);
}

.Form_InputBox.LongDescriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.LongDescriptions .LongDesc_Wrapper {
  position: relative;
  width: 100%;
  height: 13.6rem;
}

.Delete_LongDesc {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: #ffa8a8;
  font-size: 1.2rem;
  font-weight: 500;

  width: 1.6rem;
  height: 1.6rem;
  z-index: 99999;
}
